aiohttp==3.7.4.post0
APScheduler==3.7.0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
discord==1.7.3
discord-py-slash-command==3.0.0
discord.py==1.7.3
greenlet==1.1.1
idna==3.2
multidict==5.1.0
psycopg2-binary==2.9.1
pyaml==21.8.3
pycoingecko==2.2.0
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.22
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.6
uvloop==0.16.0
yarl==1.6.3
